.model-section{

    width:90%;
    max-width:1400px;

    margin:90px auto;

    text-align:center;

}

.model-section h2{

    font-size:42px;

    margin-bottom:12px;

}

.model-subtitle{

    color:#94a3b8;

    margin-bottom:50px;

    font-size:18px;

}

.pipeline-container{

    display:flex;

    align-items:stretch;

    justify-content:center;

    flex-wrap:wrap;

    gap:18px;

}

.pipeline-card{

    width:220px;

    background:#111827;

    border:1px solid #334155;

    border-radius:18px;

    padding:24px;

    transition:.3s;

}

.pipeline-card:hover{

    transform:translateY(-8px);

    box-shadow:0 0 25px rgba(59,130,246,.25);

}

.pipeline-icon{

    font-size:42px;

    margin-bottom:16px;

}

.pipeline-card h3{

    margin-bottom:12px;

    color:white;

}

.pipeline-card p{

    color:#cbd5e1;

    font-size:15px;

    line-height:1.6;

}

.arrow{

    display:flex;

    align-items:center;

    font-size:32px;

    color:#3b82f6;

    font-weight:bold;

}