.why-section{

    width:90%;
    max-width:1200px;

    margin:90px auto;

    text-align:center;

}

.why-section h2{

    font-size:42px;

    margin-bottom:12px;

}

.why-subtitle{

    max-width:850px;

    margin:0 auto 45px;

    color:#94a3b8;

    line-height:1.7;

    font-size:18px;

}

.comparison-table{

    display:grid;

    grid-template-columns:1fr 1fr;

    border:1px solid #334155;

    border-radius:18px;

    overflow:hidden;

}

.table-header{

    background:#1e293b;

    color:white;

    font-size:22px;

    font-weight:600;

    padding:22px;

}

.ps3dt-header{

    background:#2563eb;

}

.table-cell{

    padding:22px;

    border-top:1px solid #334155;

    border-right:1px solid #334155;

    background:#111827;

    color:#cbd5e1;

    line-height:1.7;

}

.table-cell:nth-child(even){

    border-right:none;

}

.highlight{

    color:#60a5fa;

    font-weight:500;

}