/* ---------- Navbar ---------- */

.navbar{
    width:100%;
    padding:22px 60px;
    background:#0f172a;
    border-bottom:1px solid #1e293b;
}

.navbar h2{
    color:white;
    font-weight:600;
}

/* ---------- Hero ---------- */

.hero{

    text-align:center;

    margin-bottom:60px;

}

.hero h1{

    font-size:64px;

    font-weight:700;

    margin-bottom:20px;

}

.hero p{

    color:#94a3b8;

    font-size:22px;

}

/* ---------- Upload Box ---------- */

.upload-box{

    width:650px;

    margin:70px auto;

    background:#111827;

    border:2px dashed #3b82f6;

    border-radius:20px;

    padding:50px;

    text-align:center;

    transition:0.3s;

}

.upload-box:hover{

    transform:translateY(-5px);

    box-shadow:0px 10px 30px rgba(59,130,246,0.25);

}

.upload-icon{

    font-size:60px;

    margin-bottom:20px;

}

.upload-box h2{

    margin-bottom:15px;

}

.upload-box p{

    color:#94a3b8;

    margin-bottom:25px;

}

.upload-box button {

    background: linear-gradient(
        135deg,
        #2563eb,
        #3b82f6
    );

    color: white;

    border: none;

    padding: 15px 36px;

    border-radius: 12px;

    cursor: pointer;

    font-size: 17px;

    font-weight: 600;

    transition: all 0.3s ease;

    box-shadow: 0 0 25px rgba(37,99,235,.35);

}

.upload-box button:hover {

    transform: translateY(-3px);

    box-shadow: 0 0 35px rgba(37,99,235,.55);

}

.upload-box button:hover{

    background:#1d4ed8;

}

.upload-box small{

    display:block;

    margin-top:25px;

    color:#94a3b8;

}

.filename{

    margin:25px 0;

    color:#60a5fa;

    font-weight:600;

    word-break:break-word;

}

.audio-player{

    width:100%;

    margin-top:20px;

}

.button-group{

    display:flex;

    justify-content:center;

    gap:18px;

    margin-top:30px;

    flex-wrap:wrap;
}

.analyze-btn{

    background:#16a34a;

}

.analyze-btn:hover{

    background:#15803d;

}

.remove-btn{

    background:#dc2626;

}

.remove-btn:hover{

    background:#b91c1c;

}

.result-card{

    margin-top:35px;

    padding:25px;

    border-radius:15px;

    background:#1e293b;

    text-align:center;

}

.result-card h2{

    font-size:32px;

    margin-bottom:10px;

}

.result-card p{

    color:#cbd5e1;

}

.app{

    position:relative;

    overflow:hidden;

}
.blob{

position:fixed;

border-radius:50%;

filter:blur(120px);

opacity:.18;

z-index:-1;

animation:float 18s ease-in-out infinite;

}

.blob1{

width:350px;

height:350px;

background:#2563eb;

top:-100px;

left:-100px;

}

.blob2{

width:280px;

height:280px;

background:#3b82f6;

right:-80px;

top:35%;

animation-delay:5s;

}

.blob3{

width:240px;

height:240px;

background:#60a5fa;

bottom:-80px;

left:40%;

animation-delay:9s;

}

@keyframes float{

0%{

transform:translateY(0px) translateX(0px);

}

50%{

transform:translateY(-40px) translateX(30px);

}

100%{

transform:translateY(0px) translateX(0px);

}

}
.pipeline{

    margin-top:40px;

    padding:25px;

    border-radius:18px;

    background:#0f172a;

    border:1px solid #334155;

}

.pipeline h2{

    margin-bottom:25px;

    text-align:center;

}

.pipeline-step{

    display:flex;

    align-items:center;

    gap:15px;

    padding:16px;

    margin:12px 0;

    border-radius:12px;

    background:#111827;

    opacity:.35;

    transform:translateX(-20px);

    transition:.4s;

}

.pipeline-step.active{

    opacity:1;

    transform:translateX(0);

    background:#1d4ed8;

}

.step-icon{

    font-size:26px;

}


/* ========================= */
/* PROCESSING PIPELINE */
/* ========================= */

/* .processing-section{

    width:100%;

    max-width:1100px;

    margin:70px auto;

}

.pipeline-card{

    background:#14181f;

    border:1px solid rgba(255,255,255,.08);

    border-radius:18px;

    padding:28px;

    margin-bottom:22px;

    position:relative;

    overflow:hidden;

}

.pipeline-card h3{

    color:#8e99aa;

    font-size:14px;

    letter-spacing:3px;

    font-weight:600;

    margin-bottom:28px;

} */

/* --------------------- */
/* WAVEFORM */
/* --------------------- */

.waveform{

    display:flex;

    align-items:center;

    justify-content:center;

    gap:2px;

    height:90px;

}

.wave-bar{

    width:4px;

    border-radius:999px;

    background:#17c37b;

    transform-origin:center;

    animation:wave 1.4s ease-in-out infinite;

    box-shadow:0 0 8px rgba(23,195,123,.45);

}

@keyframes wave{

0%,100%{

transform:scaleY(.3);

opacity:.35;

}

50%{

transform:scaleY(1);

opacity:1;

}

}

/* --------------------- */
/* SPECTROGRAM */
/* --------------------- */

.spectrogram{

display:flex;

flex-direction:column;

gap:2px;

}

.spec-row{

display:grid;

grid-template-columns:repeat(40,1fr);

gap:2px;

}

.spec-pixel{

height:9px;

background:linear-gradient(
180deg,
#31144f,
#ff7f50
);

animation:pulse 2s infinite;

}

@keyframes pulse{

50%{

filter:brightness(1.5);

}

}

/* --------------------- */
/* GRID */
/* --------------------- */

.grid-overlay{

position:absolute;

left:28px;

right:28px;

top:72px;

bottom:55px;

pointer-events:none;

}

.vertical{

position:absolute;

top:0;

bottom:0;

width:1px;

background:#1fd9b1;

opacity:.65;

}

.horizontal{

position:absolute;

left:0;

right:0;

height:1px;

background:#1fd9b1;

opacity:.65;

}

.grid-overlay .vertical:nth-child(1){left:0%;}
.grid-overlay .vertical:nth-child(2){left:6.25%;}
.grid-overlay .vertical:nth-child(3){left:12.5%;}
.grid-overlay .vertical:nth-child(4){left:18.75%;}
.grid-overlay .vertical:nth-child(5){left:25%;}
.grid-overlay .vertical:nth-child(6){left:31.25%;}
.grid-overlay .vertical:nth-child(7){left:37.5%;}
.grid-overlay .vertical:nth-child(8){left:43.75%;}
.grid-overlay .vertical:nth-child(9){left:50%;}
.grid-overlay .vertical:nth-child(10){left:56.25%;}
.grid-overlay .vertical:nth-child(11){left:62.5%;}
.grid-overlay .vertical:nth-child(12){left:68.75%;}
.grid-overlay .vertical:nth-child(13){left:75%;}
.grid-overlay .vertical:nth-child(14){left:81.25%;}
.grid-overlay .vertical:nth-child(15){left:87.5%;}
.grid-overlay .vertical:nth-child(16){left:93.75%;}
.grid-overlay .vertical:nth-child(17){left:100%;}

.grid-overlay .horizontal:nth-last-child(6){top:0%;}
.grid-overlay .horizontal:nth-last-child(5){top:20%;}
.grid-overlay .horizontal:nth-last-child(4){top:40%;}
.grid-overlay .horizontal:nth-last-child(3){top:60%;}
.grid-overlay .horizontal:nth-last-child(2){top:80%;}
.grid-overlay .horizontal:nth-last-child(1){top:100%;}

.pipeline-card p{

margin-top:20px;

color:#94a3b8;

font-size:14px;

font-family:monospace;

letter-spacing:1px;

}

.waveform-canvas{

width:100%;

height:160px;

margin-top:30px;

background:#0b1220;

border-radius:15px;

border:1px solid rgba(255,255,255,.08);

}
.spectrogram-image{
    width:100%;
    height:220px;
    object-fit:contain;
    background:#0f172a;
    border-radius:16px;
    border:1px solid rgba(255,255,255,.08);
    margin-top:24px;
    display:block;
}

.pipeline{

    margin-top:35px;

}

.spectrogram-container{

    position:relative;

    width:100%;

}

.patch-grid{

    position:absolute;

    inset:0;

    display:grid;

    grid-template-columns:repeat(32,1fr);
    grid-template-rows:repeat(5,1fr);

    pointer-events:none;

}

.patch-cell{

    border:1px solid rgba(34,211,238,.4);

    background-repeat:no-repeat;

    /* opacity:0;

    animation:fadeGrid .3s forwards; */

}

@keyframes fadeGrid{

0%{

opacity:0;

transform:scale(.8);

}

100%{

opacity:1;

transform:scale(1);

}

}
.hidden-spectrogram{
    opacity: 0;
}

/* ========================= */
/* FOOTER */
/* ========================= */

.footer{

    margin-top:100px;

    padding:50px 20px;

    background:#0b1120;

    border-top:1px solid rgba(255,255,255,.08);

}

.footer-content{

    max-width:1100px;

    margin:auto;

    text-align:center;

}

.footer h2{

    color:white;

    font-size:30px;

    margin-bottom:12px;

}

.footer-description{

    color:#94a3b8;

    max-width:700px;

    margin:0 auto 30px;

    line-height:1.8;

}

.footer-tech{

    display:flex;

    justify-content:center;

    gap:18px;

    flex-wrap:wrap;

    margin-bottom:35px;

}

.footer-tech span{

    background:#111827;

    border:1px solid #334155;

    color:#e2e8f0;

    padding:10px 18px;

    border-radius:30px;

    transition:.3s;

}

.footer-tech span:hover{

    background:#2563eb;

    transform:translateY(-3px);

}

.footer-line{

    width:100%;

    height:1px;

    background:#334155;

    margin-bottom:25px;

}

.footer-bottom{

    color:#64748b;

    font-size:14px;

}